<p id="notice"><%= notice %></p>

<% provide(:title, @user.name) %>
<div class="row">
    <aside class="span4">
        <section>
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %><br/>
                (<%= @user.address%>)
            </h1>
        </section>
        <section>
            <%= render 'shared/stats' %>
        </section>
        <!--<section>-->
            <!--<a href="<%=edit_user_path(@user) %>">-->
                <!--Edit-->
            <!--</a>-->
            <!--<a href="<%=user_path %>">-->
                <!--Return to users-->
            <!--</a>-->
        <!--</section>-->
    </aside>
    <div class="span8">
        <%= render 'follow_form' if signed_in? %>
        <% if @user.microposts.any? %>
            <h3>Microposts (<%= @user.microposts.count %>)</h3>
            <ol class="microposts">
                <%= render @microposts %>
            </ol>
            <%= will_paginate @microposts %>
        <% end %>
    </div>
</div>


